<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body style="text-align:center">
        <div class="header center-content">
            <hr>
            <h1>Shivam Sharma</h1>
            <h1>Web Programming-1 Project</h1>
            <p>Id : N01513740 </p>
            <hr>
        </div>
        <div class="header center-content menu">
            <p>
            	<a href="/api/profile/add">Registration</a>
            	&nbsp;&nbsp;
            	<a href="/api/auth/hbs_login">Login</a>
                &nbsp;&nbsp;
                <a href="/api/auth/hbs_validate">Display Data</a>
            </p>
        </div>
        {{{body}}}
        <div class="footer center-content">
            <hr>
        </div>
    </body>
</html>
