<form method="POST" action="/api/auth/get">
    <input type="text" name="jwt_token" placeholder="Enter JWT Token"> <br>
    <input type="submit">  <input type="reset"> <br><br>
    {{#if output}}
        <p>
            {{output}}
        </p>
    {{/if}} 
</form>








