<h1>Search Results</h1>
<% if (results.length > 0) { %>
  <ul>
    <% results.forEach(result => { %>
      <li>items at <%= result.storeLocation %></li>
    <% }); %>
  </ul>
<% } else { %>
  <p>No results found.</p>
<% } %>
